# PostgreSQL
PGHOST=localhost
PGPORT=5432
PGUSER=user
PGPASSWORD=password
PGDATABASE=warehouse

# MQTT
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC_QUERY=warehouse/query
MQTT_TOPIC_CREATE=warehouse/create
MQTT_TOPIC_RESPONSE=warehouse/response
